[submodule "src/core/vcpkg"]
	path = src/core/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "core/lib/enet"]
	path = core/lib/enet
	url = https://github.com/lsalzman/enet.git
[submodule "core/lib/libretro-common"]
	path = core/lib/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "src/core/lib/libretro-common"]
	path = src/core/lib/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "src/core/lib/SVT-AV1"]
	path = src/core/lib/SVT-AV1
	url = https://gitlab.com/AOMediaCodec/SVT-AV1.git
[submodule "src/core/lib/interprocess"]
	path = src/core/lib/interprocess
	url = https://github.com/boostorg/interprocess.git
[submodule "src/core/lib/container"]
	path = src/core/lib/container
	url = https://github.com/boostorg/container.git
[submodule "src/core/lib/config"]
	path = src/core/lib/config
	url = https://github.com/boostorg/config.git
