[submodule "src/core/vcpkg"]
	path = src/core/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "src/core/lib/libretro-common"]
	path = src/core/lib/libretro-common
	url = https://github.com/libretro/libretro-common.git
